.card-object {
	width: 100%;
	height: 50%;
	border-radius: 10px;
}

.card {
	width: 30%;
	height: 600px;
	border-radius: 10px;
	border: 3px solid #aa6bff;
	margin: 20px;
}

.buy-button {
	background-color: #383838;
	color: #ededed;
	width: 200px;
	height: 60px;
	font-size: 30px;
	border-radius: 10px;
}

.buy-button:hover {
    background-color: #6f13eb;
    transition: 0.5s;
}

.buy-form {
	display: flex;
}

.buy-form b {
	color: #ededed;
}

.card p {
	color: #ededed;
}

body {
	background-color: #4D4D4D;
	color: #EDEDED;
}

td, th {
	padding: 3px;
	border: 3px solid #AA6BFF;
}

.table_score {
	display: flex;
}

.scores {
	border: 2px solid #AA6BFF;
	width: 70%;
    border-radius: 10px;
	border-collapse: collapse;
}

.table-line {
	text-align: center;
}

body{
background-color: #4D4D4D;
}
.aaa{
display:flex;
flex-direction: column;
justify-content: space-around;
align-items:center;
padding:30px;
}
form{
padding:15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
select{
font-size:30px;
width:350px;
}

label{
font-family: arial;
font-size:25px;
color:#EDEDED;
padding:10px;
}

.button{
width:200px;
height:60px;
font-size:30px;
color:white;
background-color:#383838;
margin-top:15%;
margin:90px;
border-radius:10px;
}

.border{
display:flex;
flex-wrap:wrap;
font-family:Arial;
color:EDEDED;
border: medium solid black;
border-radius:10%;
height:300px;
background-color:#dedace;
}

.be{
display:flex;
justify-content:center;
}

.button:hover{
transition:1s;
background: #6f13eb;
color: white;
width:210px;
height:65px;
}

input{
width:395px;
}

.logino{
display:flex;
justify-content:center;
margin:20px;
padding:20px;
}

#button_mark{
height:60px;
width:200px;
font-size:15px;
justify-content:center;
background-color:#383838;
color:white;
border-radius:10px;
}

p{
    display:flex;
    flex-wrap: wrap;
    font-size:15px;
    color:#EDEDED;
    margin:25px;
}

input[type=checkbox] {
margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
}

#button_mark:hover{
background-color:#6F13eb;
transition:1s;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: #4D4D4D;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: #AA6BFF;
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  background-color: #4D4D4D;
  color: #fff;
  justify-content: space-around;
  align-items: center;
    height: 80px;
}

.logo{
width: 30%;
}

.main{
  min-height: calc(100vh - 80px);
  height: 80px;
}

.number {
    color: white;
}

.vk {
    height: 50px;
    weight: 50px;
    cursor: pointer;
}

.youtube {
    height: 50px;
    weight: 50px;
    cursor: pointer;
}

.aa{
display: flex;
justify-content: space-around;
align-items: flex-end;
}

.image{
padding 50px;
margin-top:20px;
}

p1{
font-size:25px;
color:#EDEDED;
margin:25px;

}
p2{
font-size:25px;
color:#EDEDED;
margin:25px;

}
p3{
font-size:25px;
color:#EDEDED;
margin:25px;

}
p4{
font-size:15px;
color:#4D4D4D;
}
p5{
font-size:15px;
color:#4D4D4D;
}
p6{
font-size:15px;
color:#4D4D4D;
}
p7{
font-size:25px;
color:#4D4D4D;

}
p9{
font-size:25px;
color:#EDEDED;
padding:25px;
}

.border_o{
font-family:Arial;
color:EDEDED;
border: medium solid black;
border-radius:10%;
height:50%;
width:50%;
background-color:#4D4D4D;
}

#button_us{
height:60px;
width:200px;
font-size:20px;
border-radius:10px;
background-color:#383838;
color:white;
}

#button_us:hover{
background-color:#6F13eb;
width:210px;
height:65px;
transition:1s;
}

.login{
display: flex;
justify-content: center;
margin: 20px;
padding: 20px;
}

.container{
font-family: Arial;
color: #EDEDED;
border: medium solid black;
border-radius: 10%;
padding-top: 20px;
padding-bottom: 20px;
width: 30%;
background-color: #616161;
margin-left: 35%;
display:flex;
justify-content: center;
}

#button_sign{
height:60px;
width:250px;
background-color: #383838;
color: #EDEDED;
font-size:25px;
display: flex;
justify-content:center;
border-radius: 10px;
padding: 5px;
transition: 1s;
}

.form-row{
margin: 7px;
}

#button_sign:hover{
background-color:#6F13EB;
transition:1s;
}





