body {
	background-color: #4D4D4D;
	color: EDEDED;
}

td, th {
	padding: 3px;
	border: 3px solid #AA6BFF;
}

.table_score {
	display: flex;
}

.scores {
	border: 2px solid #AA6BFF;
	width: 70%;
    border-radius: 10px;
	border-collapse: collapse;
}

.table-line {
	text-align: center;
}