body{
background-color: #4D4D4D;
}
.aaa{
display:flex;
flex-direction: column;
justify-content: space-around;
align-items:center;
gap: 3em;
}
select{
font-size:30px;
}
form2{
display:flex;
flex-direction: column;
align-items:center;
}
label{
font-family: arial;
font-size:25px;
color:#EDEDED;
}
form3{
display:flex;
flex-direction: column;
align-items:center;
}
form4{
display:flex;
flex-direction: column;
align-items:center;
}
.button{
padding: 0.5em 1.5em;
font-size:28.5px;
color:#AA6BFF;
}
