<!DOCTYPE html>

<html>
	<head>
		<meta chrset="UTF-8" />
		<link rel="stylesheet" href="../static/css/Dmitry_Table.css" />
	</head>
	<body>
		<div class="menu"></div>
		
		<div class="table_score">
			<table class="scores" align="center">
				<caption><h3>Оценки обучающихся</h3></caption>
				<thead class="table-line">
					<th></th>
					<th>Кол-во баллов начисленно</th>
					<th>Причина начисления</th>
				</thead>
				<tbody>
					<tr class="table-line">
						<td><b>[Человек]</b></td>
						<td>[+/- Кол-во баллов]</td>
						<td>[Причина]</td>
					</tr>
				</tbody>
				<tr>
					
				</tr>
			</table>
		</div>
		
		<div class="footer"></div>
	</body>
</html>
