<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/css/Dmitry_Table.css" />
		<title>RJA - Таблица успеваемости</title>
	</head>
	<body>
		<div class="menu"></div>
		
		<div class="table_score">
			<table class="scores" align="center">
				<caption><h3>Оценки обучающихся</h3></caption>
				<thead class="table-line">
					<th>Ученик</th>
					<th>Кол-во баллов</th>
				</thead>
				<tbody>
					{% for adept in adepts %}
					<tr class="table-line">
						<td><b>{{ adept.name }}</b></td>
						<td>{{ adept.points }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tr>
					
				</tr>
			</table>
		</div>
		
		<div class="footer"></div>
	</body>
</html>
