<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>RJA - Магазин</title>
    <link rel="stylesheet" href="/static/css/Dmitry_Shop.css" />
</head>
<body bgcolor="#4d4d4d">
    <div class="menu"></div>

    <div style="display: flex; justify-content: center;">
        <div class="cards size">
            <img src="/static/img/laptoop.webp" />
            <div>
                <button class="button" style="height: 35px;">Заказать</button>
            </div>

        </div>
    </div>

    <div class="footer"></div>
</body>
</html>