<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>RJA - Магазин</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body bgcolor="#4d4d4d">

    <div class="menu">
		<main class="main">
        	<div class="menu">
    			<input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    			<label for="burger-checkbox" class="burger"></label>
				<ul class="menu-list">
        			<li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        			<li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        			<li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a>
    			</ul>
			</div>
    	</main>
	</div>
	
	<div style="display: flex; padding: 5px; margin: 5px; justify-content: start; align-items: start; flex-wrap: wrap;">
		{% for card in cards %}
		<div class="card">
			<img src="{{ card.image_src }}" class="card-object" />
			<form action="post" class="buy-form">
				<button class="buy-button">Заказать</button>
				<div>
					<b>{{ card.price }} R.</b>
				</div>
			</form>
			<p><b>{{ card.title }}</b></p>
			<p>{{ card.description }}</p>
		</div>
		{% endfor %}
	</div>
	
    <div class="footer">
		<article>
  			<footer class="footer">
          		<div>
              		<p>info@rubius.com</p>
                	<p>+7-(3822)-9-7777-2</p>
          		</div>
        		<div>
            		<img src="/static/img/Logo.png" class="logo">
        		</div>
        		<div>
            		<img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="/static/img/vaka.png">
            		<img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="/static/img/youtube.png">
        		</div>
     		</footer>
		</article>
	</div>

	<script src="/static/js/sasha.js"></script>
</body>
</html>
