<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/css/styles.css" />
		<title>RJA - Таблица успеваемости</title>
	</head>
	<body>
		<main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a><form>
    </ul>
        </div>
    </main>
		
		<div class="table_score">
			<table class="scores" align="center">
				<caption><h3>Оценки обучающихся</h3></caption>
				<thead class="table-line">
					<th>Ученик</th>
					<th>Кол-во баллов</th>
				</thead>
				<tbody>
					{% for adept in adepts %}
					<tr class="table-line">
						<td><b>{{ adept.name }}</b></td>
						<td>{{ adept.points }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tr>
					
				</tr>
			</table>
		</div>
		
		<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="/static/img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="/static/img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="/static/img/youtube.png">

        </div>
     </footer>
</article>
	</body>
</html>
