<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница</title>
    <link rel="stylesheet" href="/static/css/sasha.css">
</head>
<body>
    <h1>Главная страница</h1>
    <p>Имя админа: {{ name }}</p>
    <p>Возраст админа: {{ age }}</p>
    <main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="/" class="menu-item">Главная</a><li>
        <li><a href="#" class="menu-item">Профиль</a><li>
        <li><a href="#" class="menu-item">Магазин</a><li>
        <li><a href="#" class="menu-item">Статистика</a>
    </ul>
        </div>
    </main>
<h1><font>Мы приветствуем вас на сайте локального магазина компании Rubius</font></h1>



<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="/static/img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="/static/img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="/static/img/youtube.png">

        </div>
     </footer>
</article>

    <script src="/js/sasha.js"></script>

</body>
</html>