<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/mark_login.css">
</head>
<body>
  <div class="login">
  <border>
      <form>
      <font color = black> <label>Email</label><br>
      <input type="text" /></font>
     <br> <font color = black> <label>Password </label><br>
      <input type="text" /></font>
      <br><input type="checkbox" /><p>Соглашаюсь с
          <br>политикой конфиденциальности</p></font>
      <br><button type="button">Войти</button>
      </form>
  </border>
  </div>

</body>
</html>