<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница администратора</title>
    <link rel="stylesheet" href="../static/css/mark_admin.css">
    <link rel="stylesheet" href="../sasha.css">
</head>
<body>
<main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a><form>
    </ul>
        </div>
    </main>
<div class="be">
  <div class="border">
    <div class="aaa">
        <form>
            <div>
                <select>
                      <option>Выберите группу</option>
                      <option>Группа 1</option>
                      <option>Группа 2</option>
            </select>
            </div>


            <div>
                  <select>
                      <option>Выберите ученика</option>
                      <option>Ученик1</option>
                      <option>Ученик2</option>
                      <option>Ученик3</option>
                  </select>
            </div>

            <div>
                <div>
                    <p><label>Количество полученных учеником баллов за ответ на уроке</label></p>
                    <input type="text">
                </div>
                <div>
                    <p><label>Количество полученных учеником баллов за помощь другим студентам</label></p>
                    <input type="text">
                </div>
                <div>
                    <p><label>Количество полученных учеником баллов за выполнение ДЗ</label></p>
                    <input type="text">
                </div>
                <div>
                    <button class="button">Готово</button>
                </div>

            </div>
      </form>
    </div>
  </div>
</div>
<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="../img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="../img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="../img/youtube.png">

        </div>
     </footer>
</article>

    <script src="../static/sasha.js"></script>

</body>
</html>