<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница администратора</title>
    <link rel="stylesheet" href="/static/mark_admin.css">
</head>
<body>
<div class="menu">

</div>
<div class="be">
  <div class="border">
    <div class="aaa">
        <form>
            <div>
                <select>
                      <option>Выберите группу</option>
                      <option>Группа 1</option>
                      <option>Группа 2</option>
            </select>
            </div>


            <div>
                  <select>
                      <option>Выберите ученика</option>
                      <option>Ученик1</option>
                      <option>Ученик2</option>
                      <option>Ученик3</option>
                  </select>
            </div>

            <div>
                <div>
                    <p><label>Количество полученных учеником баллов за ответ на уроке</label></p>
                    <input type="text">
                </div>
                <div>
                    <p><label>Количество полученных учеником баллов за помощь другим студентам</label></p>
                    <input type="text">
                </div>
                <div>
                    <p><label>Количество полученных учеником баллов за выполнение ДЗ</label></p>
                    <input type="text">
                </div>
                <div>
                    <button class="button">Готово</button>
                </div>

            </div>
      </form>
    </div>
  </div>
</div>
<div class="footer">

</div>

</body>
</html>