<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/mark_login.css">

</head>
<body>

<main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a><form>
    </ul>
        </div>
    </main>


  <div class="login">
  <border>
      <form>
      <font color = black> <label>Email</label><br>
      <input type="text" /></font>
     <br> <font color = black> <label>Password </label><br>
      <input type="text" /></font>
      <br><input type="checkbox" /><p>Соглашаюсь с
          <br>политикой конфиденциальности</p></font>
      <br><button type="button">Войти</button>
      </form>
  </border>
  </div>

<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="../img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="../img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="../img/youtube.png">

        </div>
     </footer>
</article>

    <script src="../static/sasha.js"></script>
</body>
</html>