<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/mizuki_signup.css">
</head>
<body>
<div class="container">
    <div>
            <form action="" class="ui-form">
                <h3>Регистрация</h3>

                <div class="form-row">
                    <label for="name">Имя</label>
                    <br>
                <input type="text" id="name" required autocomplete="off">
                </div>

                <div class="form-row">
                    <label for="email">Почта</label>
                    <br>
                <input type="text" id="email" required autocomplete="off">
                </div>

                <div class="form-row">
                    <label for="password">Пароль</label>
                    <br>
                <input type="password" id="password" required autocomplete="off">
                </div>

                <div>
                    <label for="repeat_password">Повторите пороль</label>
                    <br>
                <input type="text" id="repeat_password" required autocomplete="off">
                </div>

                <p><input type="submit" class="button" value="Зарегистрироваться"></p>
                <input type="checkbox"><label>Вы соглашаетесь с чем-то</label>

            </form>
    </div>
</div>
</body>
</html>