<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/mizuki_signup.css">
    <link rel="stylesheet" href="../static/css/sasha.css">
</head>
<body>
    <main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a>
    </ul>
        </div>
    </main>

<div class="container">
    <div>
            <form action="" class="ui-form">
                <h3>Регистрация</h3>

                <div class="form-row">
                    <label for="name">Имя</label>
                    <br>
                <input type="text" id="name" required autocomplete="off">
                </div>

                <div class="form-row">
                    <label for="email">Почта</label>
                    <br>
                <input type="text" id="email" required autocomplete="off">
                </div>

                <div class="form-row">
                    <label for="password">Пароль</label>
                    <br>
                <input type="password" id="password" required autocomplete="off">
                </div>

                <div>
                    <label for="repeat_password">Повторите пороль</label>
                    <br>
                <input type="text" id="repeat_password" required autocomplete="off">
                </div>

                <p><input type="submit" class="button" value="Зарегистрироваться"></p>
                <input type="checkbox"><label>Вы соглашаетесь с чем-то</label>

            </form>
    </div>
</div>

<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="../img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="../img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="../img/youtube.png">

        </div>
     </footer>
</article>
</body>
</html>