<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/sashaRegistration.css">
    <title>Регистрация</title>
</head>
<body>

<form action="action_page.php">
  <div class="container">
    <h1>Регистрация</h1>
    <hr>

    <label for="email"><b>Почта</b></label>
    <input type="text" placeholder="Введите почту" name="email" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <label for="psw-repeat"><b>Подтвердить пароль</b></label>
    <input type="password" placeholder="Подтвердите пароль" name="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Зарегистрироваться</button>
  </div>

  <div class="container signin">
    <p>Уже зарегистрированы? <a href="#" onclick="top.location.href='loginSasha.html'">Вход</a>.</p>
  </div>
</form>

</body>
</html>