<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAJ - Главная страница</title>
    <link rel="stylesheet" href="../static/sasha.css">
</head>
<body>
    <main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a><form>
    </ul>
        </div>
    </main>


<article>
  <footer class="footer">
    <p>© 2024 Rubius</p>
  </footer>
</article>

    <script src="../static/sasha.js"></script>

</body>
</html>