<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAJ - Главная страница</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <main class="main">
        <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <ul class="menu-list">
        <li><a href="#" class="menu-item" onclick="klikaj('rad1')">Профиль</a><li>
        <li><a href="#" class="menu-item" onclick="profil('rad1')">Магазин</a><li>
        <li><a href="#" class="menu-item" onclick="statistica('rad1')">Статистика</a>
        <li><a>Баланс: {{user.balance}} руб.</a>
        <li><a>Здравствуйте, {{user.name}}!</a>
        <li><a>Дата рождения: {{user.birthday}}</a>
    </ul>
        </div>
    </main>



<article>
  <footer class="footer">
          <div>
              <p>info@rubius.com</p>
                <p>+7-(3822)-9-7777-2</p>
          </div>
        <div>
            <img src="/static/img/Logo.png" class="logo">
        </div>
        <div>
            <img onclick="document.location='https://vk.com/rubiuscompany'" class="vk" src="/static/img/vaka.png">
            <img onclick="document.location='https://www.youtube.com/channel/UCdaZKAS2xcUu0xunHIF7d_w'" class="youtube" src="/static/img/youtube.png">

        </div>
     </footer>
</article>

    <script src="../static/js/sasha.js"></script>

</body>
</html>